@mixin title-property {
  height: 20px;
  color: $grayColor;
  position: relative;
  line-height: 20px;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    border-top: 1px solid $grayColor;
    top: 50%;
    transform: translateY(-50%);
  }
}
.container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 1%;
  .option__container {
    padding: 0 10px;
    .button {
      // background-color: rgba($color: #fff, $alpha: 0.8);
      width: 100px;
      height: 5vh;
      @include cursor(pointer);
      &.add {
        color: $grayButtonFonttColor;
        border-radius: 10px;
        font-size: 1.6rem;
      }

      &.remove {
        background-color: $removeColor;
        color: $grayButtonFonttColor;
      }
    }
  }
  .smart-view-list__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .smart-view-list-container__wrap {
      position: relative;
      width: auto;
      height: 100%;
      white-space: nowrap;
      padding: 30px 20px 20px 20px;
      left: 0;
      transition: left 0.5s ease-in-out;
      &.mobile {
        white-space: pre-wrap;
        .smart-view-box {
          margin-bottom: 30px;
        }
      }
      .wrapper {
        padding-right: 40px;
        display: inline-block;
        width: 100%;
        max-width: 600px;
      }
      .smart-view-box {
        width: 100%;
        max-width: 600px;
        height: 100%;
        display: inline-block;
        // margin-right: 40px;
        border-radius: 20px;
        .contents-top {
          width: 100%;
          padding-top: 10px;
          .image__container {
            width: 240px;
            height: 240px;
            padding: 0 10px;
            .image__container-title {
              @include title-property();
              &::after {
                left: 80px;
              }
            }
            .image__contents {
              height: 240px;
              .image {
                object-fit: cover;
                width: 100%;
                height: calc(100% - 20px);
              }
            }
          }
          .infomation__container {
            flex: 1;
            color: $defaultColor;
            padding: 0 10px;
            .info-title {
              @include title-property();
              &::after {
                left: 45px;
              }
            }
            .info-contents {
              font-size: 1.5rem;
              color: $pointColor;
              padding: 4px 0 4px 4px;
            }
          }
        }

        .contents-middle {
          height: 150px;
          .description__container {
            padding: 10px;
            .description-title {
              @include title-property();
              &::after {
                left: 45px;
              }
            }
            .description {
              font-size: 1.5rem;
              color: $defaultColor;
              padding: 4px;
            }
          }
        }

        .contents-bottom {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .button__wrap {
            flex: 1 1 25%;
            height: 3.5vh;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            .button {
              border-radius: 10px;
              width: 90%;
              height: 100%;
              @include cursor(pointer);
              // background: linear-gradient(90deg, #ffffff -22%, #ff8c31 27%);

              color: $pointColor;
              font-size: 1.5rem;
              &--copy {
              }
              &--pop {
              }
              &--preview {
              }
              &--sms {
              }
              &--mms {
              }
              &--edit {
              }
            }
          }
        }
      }
    }
  }
}
