$defaultColor: #f7f7f7;
$fontColor: #a67926;
$headerHeight: 48px;
$darkBackground: #1e1f21;

$blackFontColor: #2d2d2d;
$signColor: #d5007d;
$signColor2: #e53935;

$grayButtonFonttColor: #7f8489;

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
  :hover {
    cursor: pointer;
  }
}

/*
* @button
*/
.default-button {
  border: 0;
  outline: 0;
}

/**
 * @Neumorphism
*/
@mixin neumorphism-pressed() {
  background: #dfeef8;
  box-shadow: inset 14px 13px 33px #becad3, inset -2px -2px 35px #7cf9ff;
}

.neumorphism {
  &.active {
    &:active {
      @include neumorphism-pressed();
    }
  }
}

.neumorphism-flat {
  background: #dfeef8;
  box-shadow: 14px 13px 33px #becad3, -2px -2px 35px #7cf9ff;
}
.neumorphism-concave {
  background: linear-gradient(145deg, #c9d6df, #efffff);
  box-shadow: 7px 7px 27px #c5e1f3, -7px -7px 27px #ffffff;
}
.neumorphism-convex {
  background: linear-gradient(145deg, #efffff, #c9d6df);
  box-shadow: 14px 13px 33px #becad3, -2px -2px 35px #7cf9ff;
  &--100 {
    background: linear-gradient(145deg, #efffff, #c9d6df);
    box-shadow: 14px 13px 33px #becad3, -2px -2px 35px #7cf9ff;
  }
}
.neumorphism-pressed {
  @include neumorphism-pressed();
}
