$defaultColor: #f7f7f7;
$fontColor: #a67926;
$headerHeight: 48px;
$darkBackground: #1e1f21;

$blackFontColor: #2d2d2d;
$signColor: #d5007d;
$signColor2: #e53935;

$grayButtonFonttColor: #7f8489;

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
  :hover {
    cursor: pointer;
  }
}

/*
* @button
*/
.default-button {
  border: 0;
  outline: 0;
}

/**
 * @Neumorphism
*/
@mixin neumorphism-pressed() {
  background: #2c2f33;
  box-shadow: inset -5px -5px 15px #3b4451, inset 5px 5px 15px #000000;
}

.np-button {
  &.active {
    &:active {
      @include neumorphism-pressed();
    }
  }
}

.np-button-flat {
  background: #2c2f33;
  box-shadow: -5px -5px 15px #3b4451, 5px 5px 15px #000000;
}
.neumorphism-pressed {
  @include neumorphism-pressed();
}
