$defaultColor: #f7f7f7;
$fontColor: #a67926;
$headerHeight: 48px;
$darkBackground: #1e1f21;

$blackFontColor: #2d2d2d;
$signColor: #d5007d;
$signColor2: #e53935;

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
