@mixin cursor($value) {
  :hover {
    cursor: $value;
  }
  &:hover {
    cursor: $value;
  }
}

@mixin user-select($type) {
  -webkit-user-select: $type; /* Chrome all / Safari all */
  -moz-user-select: $type; /* Firefox all */
  -ms-user-select: $type; /* IE 10+ */
  user-select: $type; /* Likely future */
}

@mixin button-background() {
  background: linear-gradient(45deg, #d5007d, #e53935);
}

@mixin signature-background() {
  background: linear-gradient(45deg, #d5007d, #e53935);
}